{{#if isLoading}}
  {{loading-spinner progress=progress progressStatus=progressStatus}}
{{/if}}

<div class="fullvw-wrapper">
  {{add-feed-tabs header-text="ADICIONAR UMA FEED GFTS" upload-tab-class="tab current" add-operator-tab-class="tab" license-tab-class="tab" submit-tab-class="tab" submitted=false}}
</div>
<div class="container">
  <div class="add-operator-info">
    <p>
      O TPP junta várias origens de dados de transportes públicos para construir uma <a href="https://tpp.pt/registo-de-feeds" target="_blank">directoria de operadores e feeds</a> que pode ser editada por entusiastas dos transportes públicos e programadores. As suas contribuições podem ajudar a expandir a cobertura do TPP por todo o país.
    </p>
    <p>
      Se tem conhecimento de uma feed GTFS, por favor continue abaixo!
    </p>
    <p>
      {{documentation-link "/registo-de-feeds/adicionar-uma-feed.html#feedurl" "Aprenda mais sobre feeds GTFS"}}
    </p>
  </div>
  <form {{action "next" on="submit"}}>
    <div class="input-form-wrapper">
      {{#if model.errors}}
        {{#each model.errors as |error|}}
          <div class="error-tip">
            <i class="fa fa-exclamation-circle"></i> {{error.message}}
          </div>
        {{/each}}
      {{/if}}

      <div class="row {{if model.errors.url "error"}}">
        <div class="col-sm-12">
          <div class="input-form-label">
            {{#if isLoading}}
              {{progressStatus}}
            {{else}}
              Introduza o URL da feed GTFS
            {{/if}}
          </div>
          <div class="input-form-field">{{input type="text" value=model.url placeholder="http://... .zip" autofocus=true}}</div>
        </div>
      </div>
    </div>

    <div class="caption">
      Após esta feed ser adicionada ao TPP, os nossos servidores irão verificar periodicamente este URL por atualizações.<br/>
      Se representa um operador de transportes públicos que não pode alojar o seu próprio ficheiro GTFS, por favor siga as nossas <a href="https://github.com/tpportugal/ficheiros_gtfs_sem_hospedeiro#como-submeter-um-ficheiro-gtfs-novo-ou-atualizado">instruções para submeter a sua feed por email</a>.<br/>
      Para editar o registo de uma feed já existente no Registo de Feeds, introduza o seu URL acima e clique em Seguinte.
    </div>

    {{#if model.url}}
      <div class="row direction-btn-wrapper">
        <div class="col-sm-12">
          <div class="pull-right">
            <a class="btn btn-action" role="button"  type="submit" {{action "next"}}> Seguinte <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    {{else}}
      <div class="row direction-btn-wrapper">
        <div class="col-sm-12">
          <div class="pull-right">
            <a class="btn btn-action" disabled role="button"  type="submit" {{action "next"}}> Seguinte <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    {{/if}}
  </form>
</div>
