<section id="feed-registry" class="jumbotron">
  <div class="container">
    <div class="title col-md-12 center-text">
      <h2>REGISTO DE FEEDS</h2>
    </div>

    <p>O Registo de Feeds lista todos os operadores de transportes públicos incluídos no Banco de Dados TPP. Veja o que a licença de cada feed lhe permite fazer e clique para obter mais detalhes sobre os feeds associados com cada operador.</p>

    {{#if import_level}}
      {{import-level-filter importLevel=import_level totalOperators=model.meta.total}}
    {{else}}
      {{search-bar findPlacesAndNames=(action "findPlacesAndNames") filterByPlaceOrName=(action "filterByPlaceOrName") placeOrName=placeOrName model=placesAndNamesModel totalOperators=model.meta.total}}
    {{/if}}

    <br>
    <main>
      {{operator-table operators=model sortOrder=sort_order sortKey=sort_key import_level=import_level country=country state=state metro=metro name=name short_name=short_name changeSort=(action "transitionToNewSort")}}
      <div class="row direction-btn-wrapper">
        {{pagination-controls route="index" hasPreviousPage=hasPreviousPage hasNextPage=hasNextPage previousOffset=previousOffset nextOffset=nextOffset}}
      </div>
    </main>

    <div class="row">
      <div class="col-xs-12">
        <div class="cta-container">
          <div class="cta-text">
            <h3>Sabe de um feed em falta?</h3>
          </div>
          <div class="cta-btn">
            {{#link-to "feeds.new" class="btn btn-action" role="button" }}
              Adicionar um Feed GTFS
            {{/link-to}}
          </div>
        </div>
      </div>
    </div>

    <p>
      Gostaríamos de ter a sua ajuda para expandir a cobertura TPP por todo o país. Se tiver conhecimento de um feed GTFS, {{#link-to "feeds.new"}}adicione-o aqui{{/link-to}}. Para corrigir algum erro numa das entradas existentes, clique no nome do operador para ver e editar os seus detalhes.
    </p>

    <p>
    Está à procura de JSON? A <a href="/how-it-works/#slide-3">API do Banco de Dados TPP</a> pode fornecer todos estes {{json-endpoint "operators" "" "operadores"}} ou todas estas {{json-endpoint "feeds" "" "feeds"}}.
    </p>

    <p class="legal-action">
    Esta lista é fornecida apenas a título informativo e não constitui aconselhamento legal. Não lhe podemos garantir a precisão ou fiabilidade do Registo de Feeds de forma alguma. Aconselhamos a que consulte o seu próprio advogado antes de utilizar e confiar nas informações fornecidas no Registo de Feeds.
    </p>

  </div>
</section>
