<div class="fullvw-wrapper">
  {{add-feed-tabs header-text="ADICIONAR UMA FEED GTFS" upload-tab-class="tab" add-operator-tab-class="tab current" license-tab-class="tab" submit-tab-class="tab" submitted=false}}
</div>

<div class="container">
  <div class="add-operator-info">
    <p>
      O TPP verificou a sua feed e encontrou {{model.operators.length}} {{#if singleOperator}}operador{{else}}operadores{{/if}}. Reveja a informação abaixo e providencie detalhes adicionais sobre {{model.operators.length}} {{#if singleOperator}}o operador{{else}}cada um dos operadores{{/if}} de transportes públicos e {{model.operators.length}} {{#if singleOperator}}a sua área{{else}}as suas áreas{{/if}} de serviço.
    </p>
    <p>
      {{documentation-link "/registo-de-feeds/adicionar-uma-feed.html#operators" "Aprenda mais sobre operadores de transportes públicos"}}
    </p>
  </div>
  {{#if feedExists}}
    {{feed-exists-warning}}
  {{/if}}
  <div>
    {{#each model.operators as |operator|}}
      {{operator-form operator=operator singleOperator=singleOperator minimumOperator=minimumOperator}}
    {{/each}}
  </div>

  <!-- if one or more operator is selected to include in feed -->

  <div class="direction-btn-wrapper row">
    <div class="col-sm-12">
      {{#if minimumOperator}}
        {{#link-to 'feeds.new.license' class="btn btn-action pull-right"}}
          Seguinte <i class="fa fa-chevron-right"></i>
        {{/link-to}}
      {{else}}
        {{#link-to 'feeds.new.license' class="btn btn-action pull-right disabled"}}
          Seguinte <i class="fa fa-chevron-right"></i>
        {{/link-to}}
      {{/if}}
    </div>
  </div>
<!-- display button asking to include at least one operator -->
</div>
