<h4 class="detail">Detalhes do feed</h4>
<table class="operator-table">
  <tr>
    <td>ID Onestop <a href="https://docs.tpp.pt/esquema-onestop-id/" target="_blank"><i class="question-circle onestop-id-tooltip"></i></a></td>
    <td>{{feed.onestop_id}}</td>
  </tr>
  <tr>
    <td>Formato</td>
    <td>{{feed.feed_format}}</td>
  </tr>
  <tr>
    <td>Tags</td>
    <td>
      {{#if feed.tags}}
        <ul class="list-unstyled">
          {{! TODO: replace with each-in after upgrading to Ember 2}}
          {{#each feed.tagsAsArray as |tag|}}
            <li>{{tag.key}}: {{linkify tag.value}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </td>
  </tr>
  <tr>
    <td>Licença</td>
    <td>
      {{#if feed.license_url}}
      <a href="{{feed.license_url}}" target="_blank">
          {{#if feed.license_name}}
            {{feed.license_name}}
          {{else}}
            {{fa-icon icon="fa-external-link"}}
          {{/if}}
        </a> {{else}} {{fa-icon icon="fa-question"}} {{/if}}
    </td>
  </tr>
  <tr>
    <td>Atribuição opcional</td>
    <td>{{feed.license_use_without_attribution}}</td>
  </tr>

  {{#if feed.license_attribution_text}}
  <tr>
    <td>Texto de atribuição <i class="question-circle attribution-text-tooltip"></i></td>
    <td>{{feed.license_attribution_text}}</td>
  </tr>
  {{/if}}

  <tr>
    <td>Produtos derivados permitidos</td>
    <td>{{feed.license_create_derived_product}}</td>
  </tr>
  <tr>
    <td>Redistribuição permitida</td>
    <td>{{feed.license_redistribute}}</td>
  </tr>
  <tr>
    <td>URL de origem</td>
    <td><a href="{{feed.url}}" target="_blank">{{feed.url}}</a></td>
  </tr>
  <tr>
    <td>Última verificação em</td>
    <td>{{format-date feed.last_fetched_at}}</td>
  </tr>

  {{#if feedImportLevelZero}}
    <tr>
      <td>Área geográfica do feed</td>
      <td>
        <ul>
          {{#if feedImportLevelOne}}
            <li>{{geojson-endpoint feed.onestop_id}}</li>
            <li>{{geojson-io feed.onestop_id}}</li>
          {{/if}}
        </ul>
      </td>
    </tr>
  {{/if}}
  <tr>
    <td>Mais informações do feed em TPP</td>
    <td>
      <ul>
        <li><a href="/expedidor/feeds/{{feed.onestop_id}}">Ver estatísticas e relatórios de validação no Expedidor TPP</a></li>
        <li>{{json-endpoint feed.onestop_id "" "JSON da API do Banco de Dados TPP"}}</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Versões do feed</td>
    <td>
      {{#if showArchivedFeedVersions}}
        {{#each feed.feed_versions as |fv|}}
          <ul class="list-unstyled">
            <li>Atualizada: {{time-since-with-mouseover fv.fetched_at}}</li>
            <li>Primeira data no calendário: {{moment-format fv.earliest_calendar_date 'LL'}}</li>
            <li>Última data no calendário: {{moment-format fv.latest_calendar_date 'LL'}}</li>
            <li>Baixe uma cópia: <a href="{{fv.download_url}}">{{fa-icon icon="download"}}</a></li>
            {{#if fv.feedvalidator_url}}
              <li>Veja o relatório do Google FeedValidator: <a href="{{fv.feedvalidator_url}}" target="_blank">{{fa-icon icon="fa-external-link"}}</a></li>
            {{/if}}
            {{#if fv.is_active_feed_version}}
              <li><em>Esta é a versão de feed ativa no Banco de Dados TPP.</em></li>
            {{/if}}
            <hr>
          </ul>
        {{/each}}
        <button class="btn btn-default" {{action 'toggleArchivedFeedVersion'}}>Ocultar versões do feed</button>
      {{else}}
        <button class="btn btn-default" {{action 'toggleArchivedFeedVersion'}}>Mostrar versões do feed</button>
      {{/if}}
    </td>
  </tr>
</table>

<div class="row direction-btn-wrapper pull-right">
  {{#link-to 'feeds.new' (query-params feedUrl=feed.url) class="btn btn-action" role="button"}} Editar feed e detalhes do operador
  {{/link-to}}
</div>
