  {{! NOTE: if an operator happens to have a name that is an exact match with an
  ISO 3166-1 or 3166-2 code, then it will be converted. For example, if an operator
  has the name "US" it will be listed as "United States"--hopefully this will
  never happen! }}

{{#power-select
  selected=placeOrName
  options=placesAndNames
  autofocus="autofocus"
  searchField="display"
  onopen=(action "findPlacesAndNames")
  placeholder="Pesquisar por nome de operador ou localização"
  searchPlaceholder="Tipo a filtrar..."
  onchange=(action "setPlaceOrName")
  as |placeOrName|
}}
  {{placeOrName.display}} ({{remove-underscore placeOrName.type}})
{{/power-select}}

{{#if placeOrName}}
  <div class="filterInfoContainer">
    <div class="filterInfoSubcontainer">
      <div class="filterInfo">Atualmente {{#if multipleOperators}}existem{{else}}existe{{/if}} <strong>{{totalOperators}}</strong> operador{{#if multipleOperators}}es{{/if}} {{#if multipleOperators}}disponíveis{{else}}disponível{{/if}} no Banco de Dados TPP com o {{remove-underscore placeOrName.type}} de <strong>{{placeOrName.display}}</strong>.</div>
    </div>
  </div>
{{/if}}
